<main>
    <div>
        <h1 id="welcome-text">Ingresa con tu cuenta para comenzar a chatear!</h1>
    </div>
    <div class="container-app">
        <div>
            <label for="send">Escribir Mensaje
            <input type="text" id="send">
            <button id="submit">Enviar</button></label>
        </div>
        <div id="contenedor-chat">
            
        </div>
    </div>
    
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>